body {
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    background: linear-gradient(90deg, #fcfcfc, #04085d, #7263de);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 5s infinite;
    font-size: large;
    font-weight: bold;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.regulations {
    text-align: center;
    margin-bottom: 30px;
}

p {
    font-size: 17px;
    text-align: left;
    margin: 10px 0;
}

ul {
    margin: 10px 0 20px 20px;
}

li {
    margin-bottom: 5px;
}

.contact-info {
    margin-top: 20px;
    font-weight: bold;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    padding: 20px;

}

.bottom-section {
    flex: 1;
    margin: 0 20px;
}

.bottom-section h4 {
    margin-bottom: 10px;
}

.bottom-section ul {
    list-style-type: none;
    padding: 0;
}

.bottom-section ul li {
    margin-bottom: 10px;
}

.bottom-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.bottom-section ul li a:hover {
    text-decoration: underline;
}

.end {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0px;
}

footer marquee {
    width: 100%;
}

.rules {
    padding: 60px;
}

.rules  h1{
    font-size: larger;
    font-weight: bolder;
}

#rules {
    text-align: left;
    font-size: 21px;
    margin: 0px;
}


body {
    cursor: none; 
}

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid #4c0608;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transition: transform 0.1s ease, opacity 0.2s ease;
    transform: translate(-50%, -50%);
    background-color: rgba(78, 5, 5, 0.808);
}

body:hover .custom-cursor {
    opacity: 1;
}

body:not(:hover) .custom-cursor {
    opacity: 0;
}
